<table>
    <thead>
        <tr>
            <td>제목</td>
            <td>내용</td>
        </tr>
    </thead>
    <tbody>
        <%@pr.each do |p|%>
            <tr>
                <td><%= p.title %></td>
                <td><%=p.content%></td>
            </tr>
        <%end%>
    </tbody>
</table>

<a href = '/home/crawler'>크롤링하기</a>